@{
    ViewData["Title"] = "Test Page";
}


<h1>In Stock items</h1>

@*
    Display a table here which shows the products with any Available stock
    - use the bootstrap table styling
    - Available stock = Total Stock - Reserved Stock
    - Columns shown:
        - action => with a link to a placeholder product detail page. 
        - Name
        - Total Amount in stock
        - Available stock (this should be orange if < 10 and red < zero)

*@